<h2>{{ 'html.head.title' | trans }}</h2>

<p>
    {{ 'newsletter.subscription.success' | trans }}
    {{ 'newsletter.unsubscribe.how_to' | trans }}
    <br />
</p>

<a href="{{ unsubscribeUrl }}">{{ 'newsletter.unsubscribe' | trans }}</a>
